# Set the default behavior.
* text=auto

# Unix line endings on .txt files.
*.txt text eol=lf

# Unix line endings on .go files.
*.go text eol=lf

# Unix line endings on .html files.
*.html text eol=lf

# Unix line endings on .joke files.
*.joke text eol=lf
