var __{goName}_P ProcFn = __{goName}
var {goName} Proc = Proc{Fn: __{goName}_P, Name: "{goName}", Package: "std/{pkg}"}

func __{goName}(_args []Object) Object {
	_c := len(_args)
	switch {
	{arities}
	default:
		PanicArity(_c)
	}
	return NIL
}
